.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.modalContent{
    min-width: 250px;
    border-radius: 16px;
    background: rgb(223, 219, 219,0.8);
    padding: 25px;
}
.modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}