* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.App{
    width: 800px;
}

.post{
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    padding: 15px;
    width: 600px;
    height: 80px;
    border: solid 3px gold;
    align-items: center;
}